.lightBlue-color {
    color: #35BBDF;
}

.lightBlue-bg-color {
    background-color: #35BBDF;
}

.darkBlue-color {
    color: #4D94E6;
}

.darKBlue-bg-color {
    background-color: #4D94E6;
}

.turquoise-color {
    color: #21DADB;
}

.turquoise-bg-color {
    background-color: #21DADB;
}

.gradient {
    background-image: linear-gradient(to right, #4D94E6, #35BBDF);
}

.gradient-font {
    background: linear-gradient(to right, #4D94E6, #35BBDF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}